page-index {
    .large-icon {
        font-size: 60px;
    }
    .center {
        text-align: center;
    }
    .header .toolbar[primary] .toolbar-background {
        background: #2a3d3b;
        background: -webkit-linear-gradient(right, #2a3d3b, 
        #f7dcc1);
        background: -o-linear-gradient(right, #2a3d3b, #f7dcc1);
        background: linear-gradient(to left, #2a3d3b, #f7dcc1);
    }
    .large-center-title {
        text-align: center;
        .toolbar-title {
            font-size: 25px;
        }
    }

}
